body{
  margin: 0px;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 0px;
  display: flex;
  background-color: rgb(46, 45, 45);
  overflow: hidden;
}

main{
  width: 100%;
}

.main-page{
  width: 100%;
  background-color: rgb(46, 45, 45);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

p {
  font-family: 'Chakra Petch';
  font-size: 80px;
  color: white;
}
