body {
  margin: 0px;
  padding-top: 80px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(46, 45, 45);
  overflow: hidden;
}

.main-flex {
  display: flex;
  flex-direction: column;
}

.main-page {
  width: 100%;
  background-color: rgb(46, 45, 45);
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.div-disc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc {
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  max-width: 800px; /* Limit the maximum width */
  margin: 50px auto;
  margin-left: 3vw; /* Center horizontally */
}

.text-login {
  display: grid;
  grid-template-rows: auto auto;
}

.intro-text {
  font-family: 'Chakra Petch';
  font-size: 5vw; /* Responsive font size */
  color: white;
  margin-left: 20px;
  padding-top: 5vw; /* Responsive padding */
  text-align: right;
  padding-right: 6vw; /* Responsive padding */
}

.login-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 3vw; /* Responsive padding */
  padding-right: 2vw; /* Responsive padding */
}

.spotify-button, .apple-button {
  height: 5vw; /* Responsive button height */
  min-width: 90px;
  width: 20vw; /* Responsive button width */
  font-size: 1.8vw; /* Responsive font size */
  font-family: 'Chakra Petch';
  color: rgb(0, 0, 0);
  background-color: rgb(0, 150, 115);
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 0.6vw 0px 0px rgba(0, 150, 100, 0.5); /* Responsive box shadow */
  transition-duration: 0.2s;
  padding-left: 1.6vw; /* Responsive padding */
  padding-right: 1.6vw; /* Responsive padding */
}

.apple-button {
  color: white;
  background-color: black;
  box-shadow: 0px 0.6vw 0px 0px rgba(0, 0, 0, 0.5); /* Responsive box shadow */
  margin-left: 2vw;
  margin-right: 2vw; /* Responsive margin */
}

.spotify-button {
  margin-left: 2vw; /* Responsive margin */
  margin-right: 2vw; /* Responsive margin */

}

.spotify-button:active {
  opacity: 0.8;
  box-shadow: 0px 0.2vw 0px 0px rgba(0, 150, 100, 0.5); /* Responsive box shadow */
  transform: translateY(4px); /* Responsive transform */
}

.apple-button:active {
  opacity: 0.8;
  box-shadow: 0px 0.2vw 0px 0px rgba(0, 0, 0, 0.5); /* Responsive box shadow */
  transform: translateY(4px); /* Responsive transform */
}
