<!DOCTYPE html>
<html>

<head>
  <title>Listify - Customize and Generate</title>
    <link rel = "stylesheet" href = "static/header.css">
    <link rel = "stylesheet" href = "static/customize-body.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
  <header class="header">
    <div class="l-header">

      <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
    </div>
    <div class="r-header">


      <div class = "about-div">
        <a href = "/about"><button class = "about-button">About</button></a>
      </div>


      <div class = "p-div">
        <button class = "p-button">Privacy Policy</button>
      </div>

    </div>
  </header>

  <main>
    <a href = "/generate_playlist" ; = "/login"><button class = "g-button">Generate</button></a>
  </main>
</body>