<!DOCTYPE html>
<html>
  <head>
    <title>Listify - Customize Your Playlists</title>
    <link rel = "stylesheet" href = "static/header.css">
    <link rel = "stylesheet" href = "static/main-body.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>

  <body>

    <header class="header">
      <div class="l-header">

        <a href = "/" style = "text-decoration: none;"><div class = "title">Listify</div></a>
      </div>
      <div class="r-header">

        <!--<div class = "home-div">
          <button class = "home-button">Home</button>
        </div> -->

        <div class = "about-div">
          <a href = "/about"><button class = "about-button">About</button></a>
        </div>

        <!--<div class = "contact-div">
          <button class = "contact-button">Contact</button>
        </div>-->

        <div class = "p-div">
          <button class = "p-button">Privacy Policy</button>
        </div>

      </div>
    </header>

    <main>
      <div class = "main-flex">
      <div class = "main-page">
        <div class = "div-disc">
        <video class = "disc" preload="auto" autoplay loop muted="muted" volume="0"> 
          <source src="static/ListifyLogoNoWords.mp4" type="video/mp4"> 
          </video>
        </div>

        <div class = "text-login">

          <div class = "intro-text">Customize Your Playlists With Listify!</div>

          <div class = "login-buttons">
            <a href = "/customize"><button class = "spotify-button">Login With Spotify</button></a>

            <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank"><button class = "apple-button">Login With Apple Music</button></a>
          </div>

        </div>

      </div>
    </div>

    </main>

  </body>
</html>